@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
  box-sizing: border-box;
}

a {
  color: #00ADEF;
}

.App {
  text-align: center;
  color: #40545C;
}

.App-logo {
  height: 80px;
  margin-top: 20px;
}

.App-logo-loading {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #111;
  padding: 10px;
  color: white;
}

.App-header p {
  color: #999;
  font-size: 14px;
}

.App-content {
  max-width: 640px;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}

.search {
  width: 100%;
  padding: 30px;
  position: relative;
}

.search:before {
  content: "\f2f5";
  display: inline-block;
  font-family:"Ionicons";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 28px;
  font-size: 28px;
  left: 45px;
}

.search input {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid #D0D8DB;
  padding-left: 45px;
}

.search input:focus {
  outline: none;
  border: 1px solid #00ADEF;
}

.user-info {
  text-align: left;
  padding: 30px;
  padding-top: 0;
}

.user-info img {
  border-radius: 4px;
  width: 145px;
  height: 145px;
}

.user-info__container {
  display: flex;
  margin-bottom: 20px;
}

.user-info ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.user-info li {
  font-size: 18px;
  margin-bottom: 5px;
}

.repos-info {
  padding-left: 30px;
  align-self: center;
}

.repos-info h1 {
  margin: 0;
  margin-bottom: 15px;
}

.actions button {
  padding: 15px;
  background-color: #00ADEF;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.repos li, .starred li {
  margin-bottom: 10px;
}

.repos li:before, .starred li:before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #666;
  margin-right: 10px;
  margin-bottom: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
